html,body {
  overflow-x: none;
  margin: 0;
}

textarea {
  resize: none;
}

.active-sort {
  background-color: #FFA500;
  color: white;
}

.active-sort:hover {
  color: black;
  background-color: white;
}